*.log
*.class
*.jar
*.bin
*.lock

# OS Files #
.DS_Store
.idea
*.idea
*.project
.settings/
**/.settings/*
.classpath

jalo/
licenses/
idea-module-files/
.idea/
README

######################
# Hybris 
######################


/hybris/log
/hybris/temp
/hybris/bin/modules
/hybris/bin/platform
/hybris/roles
/hybris/config
!/hybris/config/local.properties
!/hybris/config/localextensions.xml


installer/

# Files
build.xml
SIGNATURE.SMF
extensioninfo.xsd
hmc.xsd
platformhome.properties
items.xsd
beans.xsd
Generated*.java
**/*-testclasses.xml
**/*-webtestclasses.xml
.pmd
.spring[Bb]eans
*.new

# Folders
# Folders - Hybris Specific
data/
log/
temp/
roles/
.metadata/
**/RemoteSystemsTempFiles/
**/eclipsebin/**
**/.externalToolBuilders/
build-tools/
c4c-integration/
hybris-Mobile-Apps-SDK/
hybris-sbg/
gensrc

*JRebel
*rebel.xml
*.vscode



*.ZIP
